@using MauiTRU.Database
@using MauiTRU.Services
@inherits LayoutComponentBase
@inject BackgroundTimerService bts

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        try
        {

            if (Preferences.ContainsKey(Constants.RefreshRateKey) && !bts.isRunning)
            {
                await bts.ExecuteAsync(new());
                await bts.ChangeTimePeriod(Preferences.Get(Constants.RefreshRateKey, Constants.DefaultRefreshRate));
            }
            else if (!bts.isRunning)
            {
                Preferences.Set(Constants.RefreshRateKey, Constants.DefaultRefreshRate);
                await bts.ExecuteAsync(new());
            }

            return;
        }
        catch(Exception e)
        {
            throw;
        }
    }
}
